// widescreens
@include mediaXL {}

// Desktops
@include mediaLG {}

// tablets
@include mediaMD {
    main {
        text-align: center;
        align-content: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        transform: translate3d(-100%, 0, 0);
        height: 75vh;
        ;
    }

    div.menu-branding {
        transform: translate3d(100%, 0, 0);
        height: 25vh;
        ;
    }

    .menu-branding .portrait {
        width: 17vh;
        height: 17vh;
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';
        grid-template-columns: 1fr;

    }


}


// phone
@include mediaSM {
    main {
        text-align: center;
        align-content: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

}